*.un~
*~

.vscode/
.console_history

cache/
config/
logs/
crash-reports/
*.jar
help.yml
bukkit.yml
commands.yml
permissions.yml
spigot.yml
eula.txt

ops.json
banned*.json
usercache.json
version_history.json
whitelist.json
server.log

plugins/*
!plugins/levels/
!plugins/Skript/
plugins/Skript/*
!plugins/Skript/scripts/
plugins/Skript/scripts/*
!plugins/Skript/scripts/*.sk

code/*/target/
code/SkriptUtils/dependency-reduced-pom.xml

world*/

wepif.yml
